@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
}

div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Roboto';
}

.post-list {
    list-style: none;
}

.post-title {
    text-decoration: none;
}