.nav-item {
    display: inline-block;
    font-family: 'Baloo 2';
    transition: all .2s;
    padding: 12px;
}

.nav-link {
    color: white;
    display: inline;
    list-style: none;
    text-decoration: none;
    padding: 12px;
}

.nav-link:hover {
    background-color: #5486886b;
    color: #ddd;
}

#navbar {
    background-color: #5f9ea0;
    height: 50px;
    text-align: center;
    width: 100%;
}