.nav-item {
    display: inline-block;
    transition: all .2s;
    padding: 12px;
}

.nav-link {
    border-radius: 8px;
    color: black;
    display: inline;
    font-family: 'Baloo 2';
    list-style: none;
    text-decoration: none;
    transition: all .2s;
    padding: 12px;
}

.nav-link:hover {
    background-color: #bee3f8;
    color: black;
}

#navbar {
    height: 50px;
    text-align: center;
    width: 100%;
}